
.footermenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footermenu ul {
    border-top: 1px solid #404a54;
    position: fixed;
    z-index: 900;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 48px;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;
    background-color: #404a54;
    background: -webkit-linear-gradient(top, #404a54, #404a54);
}