.contact-info {
    margin: 0 !important;
}
/**/
.footReturn {
    display: block;
    margin: 8px;
    padding: 0;
    position: relative;
}

.footerbtn {
    width: 50%;
    float: left;
}

.right3 {
    margin-right: 3px;
}

.left3 {
    margin-left: 3px;
}

.submit {
    background-color: #DF0000;
    padding: 8px 20px;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    border: 1px solid #CC0101;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    cursor: pointer;
    text-align: center;
}

.submit:active {
    background-color: #B60006;
}

.submit img{
    width: 24px;
    margin: 0 10px 0 0;
}

/*.submit2 {*/
    /*background-color: #ffe156;*/
    /*padding: 10px 20px;*/
    /*font-size: 18px;*/
    /*letter-spacing: 2px;*/
    /*text-decoration: none;*/
    /*border: 1px solid #D2BD85;*/
    /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff5cb),*/
    /*to(#ffe156));*/
    /*box-shadow: 0 1px 1px #fff3c2 inset, 0 1px 2px rgba(0, 0, 0, 0.15);*/
    /*border-radius: 5px;*/
    /*color: #333;*/
    /*display: block;*/
    /*cursor: pointer;*/
    /*text-align: center;*/
    /*text-shadow: 0 1px rgba(255, 255, 255, 0.5);*/
/*}*/

/*.submit2:active {*/
    /*padding-bottom: 9px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*padding-top: 11px;*/
    /*top: 0px;*/
    /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe156),*/
    /*to(#fff5cb));*/
    /*box-shadow: 0 1px 1px #fff3c2 inset, 0 1px 2px rgba(0, 0, 0, 0.15);*/
/*}*/
.contact-info {
    background-color: #fff;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    display: block;
    overflow: hidden;
    padding: 10px 0 10px 0;
}

.contact-info li {
    border-width: 1px 0 0 0;
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    line-height: 22px;
}

label.ui-input-text {
    font-size: 16px;
    line-height: 1.4;
    display: block;
    font-weight: 400;
    margin: 0 0 .3em;
}

div.ui-input-text {
    margin: .2em 0;
    background-image: none;
    position: relative;
    padding: 0 .4em;
    background-clip: padding-box;
    border-radius: 3px;
    border: 1px solid #CACACA;
    color: #333333;
}

input.ui-input-text {
    width: 100%;
    border: 0;
    width: 100%;
    padding: .4em 0;
    margin: 0;
    display: block;
    background: transparent none;
    outline: 0 !important;
    min-height: 1.4em;
    line-height: 1.4em;
    font-size: 16px;
}

textarea.ui-input-text {
    height: 60px;
    box-sizing: border-box;
    background-image: none;
    padding: .4em;
    margin: .2em 0;
    line-height: 1.4em;
    font-size: 16px;
    display: block;
    width: 100%;
    outline: 0;
    background-clip: padding-box;
    border-radius: 3px;
    border: 1px solid #CACACA;
    color: #333333;
    background: transparent none;
}

.ui-btn-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    cursor: pointer;
    background: #fff;
    background: rgba(255, 255, 255, 0);
    filter: Alpha(Opacity = 0);
    opacity: .1;
    font-size: 1px;
    border: 0;
    text-indent: -9999px;
    z-index: 2;
}

.ui-btn {
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: .5em 0;
    padding: 0;
    font-weight: normal;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border-radius: 0.6em;
    text-decoration: none;
    border: 1px solid #cccccc;
    background: #eeeeee;
    color: #2f3e46;
    text-shadow: 0 1px 0 #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
    to(#f1f1f1));
}

.ui-btn-inner {
    font-size: 12.5px;
    padding: .55em 11px .5em;
    min-width: .75em;
    display: block;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    zoom: 1;
}

.ui-btn-text {
    position: relative;
    z-index: 1;
    width: 100%;
}