.listli {
    width: auto !important;
    height: 100%;
    position: static !important;
    margin: 0;
    border-radius: 0 !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-box-sizing: border-box;
    box-shadow: none !important;
    background: none;
}

.listli a {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 2px;
    font-size: 12px;
    position: relative;
    height: 48px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.listli a.active {
    background: -webkit-linear-gradient(top, #404a54, #252c34);
    box-shadow: 0 -10px 25px 0px rgba(0, 0, 0, 0.3) inset;
}

.listli a .num {
    font-size: 10px;
    position: absolute;
    z-index: 9;
    left: 55%;
    top: -5px;
    background-color: #eb3634;
    color: #fff;
    font-family: Verdana;
    font-weight: normal;
    line-height: 10px;
    padding: 2px 4px;
    box-shadow: 0 0 0 2px #FFFFFF, 0 2px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.listli a img {
    width: 24px;
    height: 24px;
}

.listli a p {
    margin: 2px 0 0 0;
    font-size: 12px;
    display: block !important;
    line-height: 18px;
    text-align: center;
}